:root {
  --primary: rgb(154, 59, 59);
  --secondary: rgb(192, 130, 97);
  --ternary: rgb(226, 199, 153);
  --quadruary: rgb(242, 236, 190);
  background-color: var(--secondary);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.markdown-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  gap: 20px;
}

.editor-wrapper {
  width: 70%;
}
.preview-wrapper {
  width: 90%;
}
.editor-wrapper,
.preview-wrapper {
  border: 10px solid var(--primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.editor-top,
.preview-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Press Start 2P", cursive;
  background-color: var(--primary);
  padding: 10px;
  height: 30px;
}

.hide-cross {
  cursor: pointer;
}

.editor-box {
  background-color: var(--ternary);
  height: 150px;
  resize: vertical;
  padding: 10px;
}

#preview {
  background-color: var(--ternary);
  color: black;
  padding: 10px;
  text-align: justify;
  overflow: scroll;
}

.hide {
  display: none;
}
code,
pre {
  background-color: var(--quadruary);
}

.creator {
  font-family: "Press Start 2P", cursive;
}
