#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.markdown-wrapper {
  display: flex;
  flex-direction: column;
}

.editor-wrapper {
  max-width: 600px;
}
.preview-wrapper {
  max-width: 800px;
}
.editor-wrapper,
.preview-wrapper {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}

.editor-top,
.preview-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(145, 38, 38);
  padding: 10px;
}

.hide-cross {
  cursor: pointer;
}

.hide {
  display: none;
}
